<div class="uc_panel_main">
    <%= render 'users/my_nav_header' %>
	<!-- paneltab -->
    <div class="uc_paneltab">
        <div style="float: right;">
            <div class="tbutton" style="margin-left: 10px;">
                <%= link_to '发起新活动',  create_event_url, :class=>'white_link' %>
            </div>
        </div>
        <ul>
        	<% if params[:filter] == 'finished' %>
				<li class="tab">
	                <%= link_to '活动事件(' + @my_events_living_count.to_s + ')', url_for(:filter => 'living') %>
	            </li>
	            <li class="tab_live">
	                                      已结束 (<%= @my_events_finished_count %>) 
	            </li>            
			<% else %>
				<li class="tab_live">
	                                      活动事件 (<%= @my_events_living_count %>) 
	            </li>
	            <li class="tab">
	                <%= link_to '已结束(' + @my_events_finished_count.to_s + ')', url_for(:filter => 'finished') %>
	            </li>
			<% end %>
        </ul>
    </div>
    <!-- end paneltab -->
    <div class="uc_panel_body">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="uc_ev_table">
            <tbody>
                <tr class="uc_ev_head">
                    <td>
                        <b><%= GetTitleLink(params[:sortby], 'title', params[:filter], '活动名称') %></b>
						<%= GetOrderImg(params[:sortby], 'title') %>						
                    </td>
                    <td class="tc">
                        <b><%= GetTitleLink(params[:sortby], 'start_date', params[:filter], '开始时间') %></b>
						<%= GetOrderImg(params[:sortby], 'start_date') %>                        
                    </td>
                    <td class="tc">
                        <b><%= GetTitleLink(params[:sortby], 'status', params[:filter], '状态') %></b>
						<%= GetOrderImg(params[:sortby], 'status') %>
                    </td>
                    <td class="tc">
                        	报名情况
                    </td>
                    <td class="tc">
                        	管理链接
                    </td>
                </tr>
				<% @my_events_show.each do |event| %>
                <tr class="uc_ev_row">
                    <td>
                        <b><%= link_to event.title, event_path(event), :target => '_blank' %></b>
                    </td>
                    <td class="tc">
                        <nobr>
                            <%= event.start_time.strftime("%Y-%m-%d %H:%M") %>
                        </nobr>
                    </td>
                    <td class="tc">
                        <%= ShowEventStatus(event.status) %>
                    </td>
                    <td class="tc">
                        <%= event.sold_tickets %>/<%= (event.total_tickets == 0 ? '不限' : event.total_tickets) %>
                    </td>
                    <td class="tc">
                    	<%= link_to '修改', edit_event_url(event.id), :target=>'_blank' %>
                    	<span class="pipe">|</span>
                    	<%= link_to '统计', {:controller=>'stats',:id=>event.id}, :action=>'index'  %>
                    </td>					
                </tr>
				<% end %>
            </tbody>
        </table>
    </div>
</div>
