<div id="show_event" class="span-24 last">
    <%= render 'events/show_header' %>
    
	<div class="span-16 last fl">
	    <%= render 'users/participate_ticket_info' %>
	            
	    <div class="separator-5"></div>   
		
		<%= render 'users/participate_form' %>
	</div>
	
	<div class="span-8 last fr">
		<%= render 'events/show_event_time' %>
		
		<div class="separator-5"></div>
		
		<%= render 'events/show_event_address' %>
		
		<div class="separator-5"></div>
		
		<%= render 'events/show_event_hostinfo' %>
    </div>	
   
</div>
