<div class="filter_box fcenter">
	<div class="filter_title"><%= image_tag('/images/select_cat.jpg', :alt => '分类')%></div>
	<div class="filter_items">
		<ul class="sidebar-menu">
			<li>
				<a href="<%= filter_Uri("category_id", "") %>" class=<%= GetCategoryCssClass('') %>>所有活动(<%=get_category_count('')%>)</a>
			</li>
			<% for category in @categories %>
				<li>
				  <% count = get_category_count(category.id) 
					if count  > 0 %>
				    <%= link_to h( category.name + "(" + count.to_s() + ")" ), filter_Uri("category_id", category.id.to_s), :class=>GetCategoryCssClass(category.id) %>
				  <% else %>
				    <a class="gray"><%= category.name %>(0)</a>
				  <% end %>
			  </li>
			<% end %>
		</ul>
	</div>
</div>