<ul>
	<li><a href="<%= filter_Uri("start_time", "")%>" class=<%= GetTimeRangeCssClass('') %>>全部(<%= get_time_range_count('') %>)</a></li>
	<li><a href="<%= filter_Uri("start_time", "today")%>" class=<%= GetTimeRangeCssClass('today') %>>今天(<%= get_time_range_count('today') %>)</a></li>
	<li><a href="<%= filter_Uri("start_time", "this_week")%>" class=<%= GetTimeRangeCssClass('this_week') %>>本周(<%= get_time_range_count('this_week') %>)</a></li>
	<li><a href="<%= filter_Uri("start_time", "this_weekend")%>" class=<%= GetTimeRangeCssClass('this_weekend') %>>本周末(<%= get_time_range_count('this_weekend') %>)</a></li>
	<li><a href="<%= filter_Uri("start_time", "next_week")%>" class=<%= GetTimeRangeCssClass('next_week') %>>下周(<%= get_time_range_count('next_week') %>)</a></li>
	<li><a href="<%= filter_Uri("start_time", "this_month")%>" class=<%= GetTimeRangeCssClass('this_month') %>>本月(<%= get_time_range_count('this_month') %>)</a></li>
	<li><a href="<%= filter_Uri("start_time", "next_month")%>" class=<%= GetTimeRangeCssClass('next_month') %>>下月(<%= get_time_range_count('next_month') %>)</a></li>
	<li><a href="<%= filter_Uri("start_time", "this_year")%>" class=<%= GetTimeRangeCssClass('this_year') %>>今年(<%= get_time_range_count('this_year') %>)</a></li>
</ul>