<ul>
	<li><a href="<%= filter_Uri("start_time", "")%>">全部</a></li>
	<li><a href="<%= filter_Uri("start_time", "today")%>">今天</a></li>
	<li><a href="<%= filter_Uri("start_time", "this_week")%>">本周</a></li>
	<li><a href="<%= filter_Uri("start_time", "this_weekend")%>">本周末</a></li>
	<li><a href="<%= filter_Uri("start_time", "next_week")%>">下周</a></li>
	<li><a href="<%= filter_Uri("start_time", "this_month")%>">本月</a></li>
	<li><a href="<%= filter_Uri("start_time", "next_month")%>">下月</a></li>
	<li><a href="<%= filter_Uri("start_time", "this_year")%>">今年</a></li>
</ul>