<style>

.event-list li {
	float:left;
	/*height:248px;*/
	overflow:hidden;
	padding:20px 0 20px 0;
	border-bottom:1px solid #DCDCDC;
	position:relative;	
	/*width:888px;*/
}

.event-list li p {
	line-height:10px;
}

.event-list li  .img {
	border:1px solid #D5D5D5;
	float:left;
	height:144px;
	margin-right:10px;
	padding:1px;
	width:109px;
}

.event-list li  h2 {
	font-size:14px;
	overflow:hidden;
	white-space:nowrap;
	padding-bottom:0;
	font-weight:bold;
	/*width:680px;*/
}
.event-list li  h2 a {
	text-decoration:none;
}
.event-list li  h2 a:hover {
	color:#CC0000;
	text-decoration:underline;
}
.event-list li 	.btn {
	bottom:15px;
	position:absolute;
	right:0;
}

.event-list li .btn_buy, .event-list li  .btn_fav {
	
	border:0 none;
	cursor:pointer;
	display:inline-block;
	height:27px;
	outline:medium none;
	text-align:left;
	text-indent:-9999px;
	width:87px;
} 
.event-list li .btn_buy {
	background:url("/images/buy_bg.png") no-repeat scroll -1px -1px ;	
}
.event-list li .btn_buy:hover {
	background:url("/images/buy_bg.png") no-repeat scroll -1px -30px ;	
}
.event-list li .btn_buy:active {
	background:url("/images/buy_bg.png") no-repeat scroll -1px -59px ;	
}
.event-list li  .btn_fav {
	background:url("/images/buy_bg.png") no-repeat scroll -90px -1px ;
}
.event-list li  .btn_fav:hover {
	background:url("/images/buy_bg.png") no-repeat scroll -90px -30px ;
}
.event-list li  .btn_fav:active {
	background:url("/images/buy_bg.png") no-repeat scroll -90px -59px ;
}
.event-list li  .price {
	background:url("http://dui.damai.cn/damai/images/price.png") no-repeat scroll right 5px transparent;
	bottom:50px;
	color:#E51A45;
	font-size:22px;
	line-height:1em;
	padding-right:20px;
	position:absolute;
	right:0;
}


</style>
<li class="span-18">
	  	<p class="img">
	  	<% if (event_item2.event_logo_url.blank?) %>
			<%= link_to image_tag('/images/no_image.png', :alt => event_item2.title),
	 			event_path(event_item2), :title =>  event_item2.title, :target => '_blank' %>
		<% else %>
			<%= link_to image_tag(event_item2.event_logo_url, :alt => event_item2.title),
	 			event_path(event_item2), :title =>  event_item2.title, :target => '_blank' %>
		<% end %>
	  	</p>
		<h2><%= link_to truncate_u(event_item2.title), event_path(event_item2), :target => '_blank' %></h2>
		<p class="gray"><%= truncate(sanitize(event_item2.intro),100) %></p>
		<p>
		  时间：<%= event_item2.start_time.strftime("%m/%d %H:%M") %> - <%= event_item2.end_time.strftime("%m/%d %H:%M") %> <span class="ml20">状态: <%= if Time.now >= event_item2.end_time then '已结束' else '报名中' end%></span> </p>
		<p>地点：<%= event_item2.address %></p>
		<p>发起人：<%= link_to event_item2.user.login, user_events_url(event_item2.user.id) %></p>
		<p>类别：<%= link_to event_item2.category.name, filter_Uri("category_id", event_item2.category.id) %></p>
		
		<p class="btn">
		  <%= link_to ('立即购买', participate_url(event_item2.id, :order_quantity=>1),  :class=>'btn_buy') %>				
		<% if !(signed_in? && has_add_env_fav?(current_user.id, event_item2.id)) %>
		  <%= link_to '添加收藏', add_event_fav_url(:event_id => event_item2.id, 'ret'=>request.request_uri), :class=>'btn_fav ml10' %>
		<% end %>
		</p>
		<p class="price"><%= number_with_precision(event_item2.price, :precision => 0)%>元</p>	
</li>
  