
<div class="event_item min-high-4 fl last"> 
  <div class="event_date_btn fl">
  	<div class="out">
	  	<span class="event_day">
	  		<%= event_item.start_time.day %>
		</span>
		<span class="event_month">
			<%= event_item.start_time.month %>月
		</span>
	</div>
	<div class="out ev_date_part_y">
		<span>
			<%= event_item.start_time.year %>年
		</span>
	</div>
	<span class="event_date_btn_bottom"> </span>
  </div>
  <div class="event_thumb">
  	<% if (event_item.event_logo_url.blank?) %>
		<%= link_to image_tag('/images/no_image.png', :alt => event_item.title, :class => 'thumb_t'),
 			event_path(event_item), :title =>  event_item.title, :target => '_blank' %>
	<% else %>
		<%= link_to image_tag(event_item.event_logo_url, :alt => event_item.title, :class => 'thumb_t'),
 			event_path(event_item), :title =>  event_item.title, :target => '_blank' %>
	<% end %>
  </div>  
  <% if Time.now >= event_item.end_time %>
  <div class="span-14 event_detail last fl finished">
  <% else %>
  <div class="span-14 event_detail last fl">
  <% end %>
  	<h3>
  		<%= link_to truncate_u(event_item.title), event_path(event_item), :class => 'event_title', :target => '_blank' %>
		<% if Time.now >= event_item.end_time %>
		    <!--do nothing-->
		<% elsif Time.now >= event_item.start_time && Time.now <= event_item.end_time %>
			<img src='/images/music_4.gif' alt='正在进行' title='该活动正在举行'/>
		<% elsif DayDiff(event_item.end_time, Time.now.end_of_day) <= 2 %>
			<img src='/images/on_time.gif' alt='即将进行' title='该活动即将举行'/>
		<% end %>
	</h3>
	<div class="description">
		<%= truncate(sanitize(event_item.intro), 200) %>
	</div>	
	<ul class="actions">
		<li><%= link_to event_item.category.name, filter_Uri("category_id", event_item.category.id) %></li>	
		<li><span  class="gray">关注：</span><%= event_item.views %></li>
		<li><span  class="gray">评分：</span><% event_item.score.times do %><img src='/images/redstar.jpg'/><% end %><% (5-event_item.score).times do %><img src='/images/huistar.jpg'/><% end %></li>
		<li><%= link_to event_item.user.login, user_events_url(event_item.user.id) %> &nbsp;&nbsp;发布于<%= time_ago_in_words(event_item.created_at) %>之前</li>
	</ul>
	<ul class="actions" style="padding-top:5px;">
		<li><span  class="gray">开始时间：</span><%= event_item.start_time.strftime("%Y年%m月%d日%H:%M") %></li>
		<li><span  class="gray">结束时间：</span><%= event_item.end_time.strftime("%Y年%m月%d日%H:%M") %></li>
	</ul>
  </div>
</div>
