
<li class="span-18">
	  	<p class="img">
	  	<% if (event_item2.event_logo_url.blank?) %>
			<%= link_to image_tag('/images/no_image.jpg', :alt => event_item2.title),
	 			event_path(event_item2), :title =>  event_item2.title, :target => '_blank' %>
		<% else %>
			<%= link_to image_tag(event_item2.event_logo_url, :alt => event_item2.title),
	 			event_path(event_item2), :title =>  event_item2.title, :target => '_blank' %>
		<% end %>
	  	</p>
		<h2><%= link_to truncate_u(event_item2.title), event_path(event_item2), :class=>'event_title', :target => '_blank' %></h2>
		<p class="gray"><%= truncate(sanitize(event_item2.intro),100) %></p>
		<p>
		  时间：<%= event_item2.start_time.strftime("%m/%d %H:%M") %> - <%= event_item2.end_time.strftime("%m/%d %H:%M") %> <span class="ml20">状态: <%= if Time.now >= event_item2.end_time then '已结束' else '报名中' end%></span> </p>
		<p>地点：<%= event_item2.address %></p>
		<p>发起人：<%= link_to event_item2.user.login, user_events_url(event_item2.user.id) %></p>
		<p>类别：<%= link_to event_item2.category.name, filter_Uri("category_id", event_item2.category.id) %></p>
		
		<p class="btn">
		  <%= link_to ('立即购买', participate_url(event_item2.id, :order_quantity=>1),  :class=>'btn_buy') %>				
		<% if !(signed_in? && has_add_env_fav?(current_user.id, event_item2.id)) %>
		  <%= link_to '添加收藏', add_event_fav_url(:event_id => event_item2.id, 'ret'=>request.request_uri), :class=>'btn_fav ml10' %>
		<% end %>
		</p>
		<p class="price"><%= number_with_precision(event_item2.price, :precision => 0)%>元</p>	
</li>
  