<div id="event_address">
    <div class="panel_head">
        <h3>联系</h3>
    </div>
    <div class="panel_body">
        <div class="span-5">
            地址：<span class="gray "><%= @event.address %></span>
            <br/>
            邮编：<span class="gray "><%= @event.zipcode %></span>
            <br/>
            联系人：<span class="gray "><%= @event.contact_user_name %></span>
            <br/>
            电话：<span class="gray "><%= @event.telnumber %></span>
            <br/>
            邮件：<span class="gray "><%= @event.email %></span>
            <br/>
            网址：<span class="gray "><%= link_to truncate_u(@event.web_url, 10), @event.web_url, html_options={:title=>@event.web_url, :target=>"_blank"} %></span>
        </div>
        <div class="span-2 tc" style="width:80px;margin-top:0;">
            <img src='/images/map-demo.jpg' alt='点击查看大图' style="width:80px;height:140px;"/>
            <br/>
            点击查看大图
        </div>
    </div>
</div>
