<div id="show_event" class="span-24 last">
    <div class="head">
        <div class="title span-16">
            <h1>
            	<%=h @event.title %>
				<%if signed_in? && @event.user == current_user %>
					<%= link_to '修改', edit_event_url(@event.id), :target=>'_blank' %>
				<% end %>
			</h1>
            <span class="gray">时间：</span><span><%= show_ev_date(@event.start_time) %> - <%= show_ev_date @event.end_time %></span><br/>
	        <span class="gray">地点：</span><span><%= @event.address %></span>
			<div class="share span-16 last gray">
        		<input type="hidden" value="<%= @event.title %> (<%= request.url %>)" id="deal-share-im-c" style="display: inline;" />
	            <ul class="banner_share" style="padding-left:0;">
	                <li class="fenxiang">分享到： </li>
	                <li class="msn" id="deal-share-im">
	                    <a onclick="copyToClipboard($('deal-share-im-c').value);" href="#">MSN/QQ</a>
	                </li>
	                <li class="kaixin">
	                    <a target="_blank" href="http://www.kaixin001.com/repaste/share.php?rurl=<%= request.url %>&amp;rtitle=<%= @event.title %>">开心</a>
	                </li>
	                <li class="renren">
	                    <a target="_blank" href="http://share.renren.com/share/buttonshare.do?link=<%= request.url %>&amp;title=<%= @event.title %>">人人</a>
	                </li>
	                <li class="douban">
	                    <a target="_blank" href="http://www.douban.com/recommend/?url=<%= request.url %>&amp;title=<%= @event.title %>">豆瓣</a>
	                </li>
	                <li class="sina">
	                    <a target="_blank" href="http://v.t.sina.com.cn/share/share.php?url=<%= request.url %>&amp;title=<%= @event.title %>">新浪微博</a>
	                </li>
	                <li class="sohu">
	                    <a target="_blank" href="http://bai.sohu.com/share/blank/addbutton.do?link=<%= request.url %>&amp;title=<%= @event.title %>">白社会</a>
	                </li>
					<li class="email">
						<a href="mailto:?subject=<%= @event.title %>">邮件</a>
					</li>
	            </ul>
        	</div>
        </div>
        <div class="event_logo span-8 last">
            <% unless @event.event_logo_url.blank? %>
            <h1><%=h @event.title %></h1>
            <% else %>
            <%= image_tag('http://evbdn.eventbrite.com/s3-s3/eventlogos/5368133/797315793.jpg') %>
            <% end %>
        </div>
    </div>
	
    <div class="span-16 last fl">	
		<div id="event_content">	
	        <div class="panel_head">	        	
	            	<div class="tbutton fr" style="padding:7px 10px 0 0;">		           
		                <%= link_to '我要报名',  participate_url(@event.id) %>		           
		        	</div>				
				<h3>活动介绍</h3>
	        </div>
	        <div class="panel_body min-high-17 clear">
	            <%=sanitize @event.content,  
					:tags => %w(table tbody tr td p br strong bold span ol li ul img a h1 h2 h3 h4 h5 h6 h7 hr), 
					:attributes => %w(id class style color src target href border alt align width height cellspacing cellpadding)%>
	        </div>
		</div>
    </div>
	
    <div class="span-8 last fr">
    	<div id="event_time">
	    	<div class="panel_head">
	            <h3>时间</h3>
	        </div>
	        <div class="panel_body min-high-3">
	        	<div class="span-5 tc">
		            <%= show_ev_date(@event.start_time) %><br/>
					<span class="gray ">- 至 -</span><br/>
					<%= show_ev_date(@event.end_time) %>
				</div>
				<div class="span-2 tc" style="margin-top:12px;">
					<img src='/images/icon_add.gif' alt='关注'/> <br/>
					收藏本活动
				</div>
	        </div>   
		</div>
		
		<div class="separator-5"></div>
		
		<div id="event_address">
	    	<div class="panel_head">
	            <h3>联系</h3>
	        </div>
	        <div class="panel_body">
	        	<div class="span-5">
		                                地址：<span class="gray "><%= @event.address %></span> <br/>
					邮编：<span class="gray "><%= @event.zipcode %></span><br/>
					联系人：<span class="gray "><%= @event.contact_user_name %></span><br/>
					电话：<span class="gray "><%= @event.telnumber %></span><br/>
					邮件：<span class="gray "><%= @event.email %></span><br/>
					网址：<span class="gray "><%= link_to truncate_u(@event.web_url, 10), @event.web_url, html_options={:title=>@event.web_url, :target=>"_blank"} %></span>
				</div>
				<div class="span-2 tc" style="width:80px;margin-top:0;">
					<img src='/images/map-demo.jpg' alt='点击查看大图' style="width:80px;height:140px;"/> <br/>
					点击查看大图
				</div>
	        </div>   
		</div>
		
		<div class="separator-5"></div>
		
		<div id="event_hostinfo">
	    	<div class="panel_head">
	            <h3>举办方信息</h3>
	        </div>
	        <div class="panel_body min-high-4">
	        	<%= @event.hostinfo %>				
				<%= link_to '查看该举办方发布的所有活动',  user_events_url(@event.user.id), :class=>"fl" %>
				
	        </div>   
		</div>
    </div>
</div>
