<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <p class="top">
	  <%= f.label :login, "帐号: ", :class=>'_mid_label' %>
	  <%= f.text_field :login %>
  </p>
  <p>
	  <%= f.label :password, "密码: ", :class=>'_mid_label' %>
	  <%= f.password_field :password %>
  </p>
  <p class="savepassword">
	  <%= f.check_box :remember_me %>
	  <%= f.label :remember_me, "下次自动登录", :class=>'_labelCheckbox' %>
  </p>
  <p class="bottom">
  	  <%= f.submit "提交"%>
	  <span class="getpassword">
	    <a href="/findpass">忘记密码?</a>
	  </span>
  </p>
<% end %>