<% content_for :left do %>
	<%= render 'directory/categories' %>
	<div class="separator-5"></div>
	<%= render 'pages/search_panel' %>		
	
<% end %>

<% content_for :right do %>	
    <!--line 1 begin-->	
	<div class="prepend-top span-7">
		<div class="span-7">
			<span class="f22">优客网</span>
		</div>
		<div class="span-7" style="font-size:13px;margin: 5px 0pt 0px 0px ! important;">
		你是不是因为错过了一次期盼已久的活动而感到懊恼不已？
		那么，让优客网来帮你吧，它不能替你参加活动，但它能让你不再错过她。
		</div>		
	</div>	
	<div class="span-10 prepend-top last"  style="padding-left:20px;" >
		<img src="http://img1.kaixin001.com.cn/i/sy_tp1_1.gif" />
	</div>
	<!--line 1 end-->
	
	<div class="separator-5"></div>
	
	<!--line 2 begin-->
	
	<div class="span-18 last clear">
		<div class="perform gray_box">			
			<ul>
				<% i = 1 %>
				<% for event_cfg in @rec_events_cfg do %>
				<% if i % 2 == 1 %>
				<li class="ps1">
				<% else %>
				<li class="ps2">
				<% end %>	
				<% i = (i == 1) ? 2:1  %>
				  <h2><span class="t"><%= event_cfg.event.category.name %></span><a class="more" href="<%=filter_Uri('category_id', event_cfg.event.category.id) %>"><%= image_tag('/images/more.png', :alt => 'more') %></a> </h2>
				  <div class="info">
				  	<p class="img"><%= link_to image_tag(event_cfg.img_url, :alt => event_cfg.title, :title => event_cfg.title), event_url(event_cfg.event), :target=>'_blank' %></p>
					<h3><%= link_to event_cfg.title, event_url(event_cfg.event), :target=>'_blank', :class=>'event_title' %></h3>
					<p class="d"><%= event_cfg.desc %></p>
					<p><strong class="fl">时间：<%= event_cfg.event.start_time.strftime('%Y.%m.%d') %> </strong><strong class="fr">价格：<%= number_with_precision(event_cfg.event.price, :precision => 0) %>元起</strong>
					</p>
				  </div>				  
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<!--line 2 end-->
<% end %>	



