<div id="header" class="span-24 last">
	<div class="span-6 prepend-2 fl">
		<% link_to image_tag("http://img1.kaixin001.com.cn/i2/kaixinlogo.gif", :class=>"logoimg", :alt=>"logo"), root_url, :title=>"返回首页" %>
	</div>
	<div class="span-15 fr last rt_nav">
		<span class="fr">
		<% if signed_in? %>	
			<span class="white">欢迎您： <%= current_user.login %></span>
			<%= link_to '发起活动',  create_event_url, :class => "ce" %>
			<span class="pipe"> | </span>
			<%= link_to '个人中心', account_url, :class => "ce" %>
			<span class="pipe"> | </span>
			<%= link_to '配置', config_url, :class => "ce" %>
			<span class="pipe"> | </span>
			<%= link_to "退出", signout_url, :method => :delete, :class => "ce" %>
		<% else %>
			<%= link_to '注册', signup_url, :class => "ce" %>
			<span class="pipe"> | </span>	
			<%= link_to "登录", signin_url, :class => "ce" %>
		<% end %>
			<span class="pipe"> | </span>	
			<a class="ce" href="/s/help.html">帮助</a>
		</span>	
	</div>
</div>


